{% extends "index.html" %}

{% load static %}

{% block contenido %}
    
<main>



<h2>About me</h2>
<h6>Hola! Mi nombre es Félix Matarazzo, soy arquitecto devenido en artista 3D. Me apasiona todo lo
    relacionado a la arquitectura digital y el mundo 3D. Es por eso que mi entrega se baso un poco en juntar mis
    dos amores.
    Es un blog en donde se pueden ver estudios de arquitectura, obras y estudios de visualizacion arquitectónica (archviz)
    junto con opiniones sobre los mismos.
    Considero la programación como una herramienta escencial al día de hoy, la cual quiero incorporar en mi día a día
    para convertirme en un mejor profesional.

    Saludos!
</h6>



</main>

{% endblock %}