{% extends "index.html" %}

{% load static %}

{% block contenido %}

<main>


    <form>
        <div class="mb-3">
          <label for="exampleInputNombre1" class="form-label">Nombre</label>
          <input type="nombre" class="form-control" id="exampleInputNombre1">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Deseo recibir Newsletter</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


</main>

{% endblock %}