{% extends "index.html" %}


{% load static %}


{% block contenido %}




            <form action="{% url 'editar_obras' obras.id %}" method="POST">

                {% csrf_token %}
            
                <p>Nombre de la obra:</p>
                {{mi_formulario.nombre_obra}}
                <p>Arquitecto:</p>
                {{mi_formulario.arquitecto}}
                <p>Fecha construccion:</p>
                {{mi_formulario.año_construccion}}
                <p>Ubicacion:</p>
                {{mi_formulario.ubicacion}}
                <p>Opinion:</p>
                {{mi_formulario.opinion}}
            
            
                <input type="submit" value="Enviar">
            
            
            </form>
          









{% endblock %}
