{% extends "index.html" %}


{% load static %}


{% block contenido %}




            <form action= "{% url 'editar_arq' arq.id %}" method="POST">

                {% csrf_token %}
            
                <p>Nombre:</p>
                {{mi_formulario.nombre}}
                <p>Pais:</p>
                {{mi_formulario.pais}}
                <p>Pagina Web:</p>
                {{mi_formulario.pagina_web}}
                <p>Email:</p>
                {{mi_formulario.email}}
                <p>Opinion:</p>
                {{mi_formulario.opinion}}
            
            
                <input type="submit" value="Enviar">
            
            
            </form>
          









{% endblock %}
