{% extends "index.html" %}


{% load static %}


{% block contenido %}




            <form action="alta_estudios_archviz" method="POST">

                {% csrf_token %}
            
                <p>Nombre:</p>
                <input type="text" name="nombre" required>
                <p>Pagina Web:</p>
                <input type="url" name="pagina_web" required>
                <p>Email:</p>
                <input type="email" name="email" required>
            
            
                <input type="submit" value="Enviar">
            
            
            </form>
          









{% endblock %}
