{% extends "index.html" %}

{% load static %}

{% block contenido %}

  
<main>

  <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Obra</th>
            <th scope="col">Arquitecto</th>
            <th scope="col">Fecha de construccion</th>
            <th scope="col">Ubicacion</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
        <tbody>
            {% for n in datos %}
          <tr>
            <th scope="row">{{n.id}}</th>
            <td>{{n.nombre_obra}}</td>
            <td>{{n.arquitecto}}</td>
            <td>{{n.año_construccion}}</td>
            <td>{{n.ubicacion}}</td>
            <td>{{n.opinion}}</td>
            {% if request.user.is_authenticated %}
            <td><a href="{% url 'editar_obras' n.id %}">Editar</a></td>
            <td><a href="{% url 'eliminar_obras' n.id %}">Eliminar</a></td>
            {% endif %}
          </tr>

            {% endfor %}
        </tbody>
      </table>


</main>


{% endblock %}